/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

img {
    width: 100%; /*Please leave this line.*/
     display: block;
     
}
/*CSS document*/

/* Replace this whole line 3 with my version of Eric Meyer’s reset tool.*/

body {
	background-color:rgb(234, 222, 212); /* Not totally white. */
	
	line-height: 100%; 	/* A little extra leading. */
	
}

h1 {
	font-family: Sutro, serif;
    background-color: rgb(232, 108, 6);
	color: rgb(233, 221, 221); /* Same as body background. */
	font-size: 2.2em;
	padding: .5em 1.5rem; /* You want three values. */
	font-weight: 700;
	
    line-height: 120%
    
}
ul {
    font-family: poppins, sans-serif;
    margin: .1em 0 3.5em;
    line-height: 140%;

}

ol {
    font-family: poppins, sans-serif;
    margin: .1em 0 3em;
    line-height: 130%;
}

li {
    margin: .8em 1.5em .1em;
}

    footer {
        font-family: poppins, sans-serif;
        background-color: rgb(232, 108, 6);
        padding: 2em 1.6em ;
        color: rgb(233, 221, 221);
    }


h2 {
	background-color: rgb(232, 108, 6);
	color: rgba(234, 222, 212, .5);
	font-size:1.5em;
	padding: 0em 1.5rem 1.5em;
	font-family: sutro, serif;
	font-weight: 300;
    line-height: 0%;
}
    figcaption {
        font-family: poppins, serif;
        font-size: 1em;
        line-height: 150%;
        font-style: italic;
        padding: .8em 1.5rem .7em
        
    
    }
    

h3 {
	margin: 1em 1.5rem; 
    font-family: sutro, light;
	font-size: 1.2em;
	color: rgb(232, 108, 6);
    text-transform: uppercase;
    letter-spacing: 2px ;
}








